* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Rubik', sans-serif;
  overflow-x: hidden;
}

.nav {
  height: 70px;
  width: 100vw;
  background-color: #f36630;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 1px 20px 0px red;
  z-index: 999;
}

header {
  margin-top: 70px;
  background-color: black;
  height: 90vh;
  width: 100vw;
  color: white;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

.code {
  background-image: url("assets/code.jpg");
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.my-text {
  max-width: 640px;
  text-align: justify;
}

#text-about-one, #text-about-two {
  font-size: 1.3em;
  margin: 20px;
  animation-fill-mode: backwards;
}

#text-about-one {
  animation: show-about 2s;
}

#text-about-two {
  animation: show-about 4s;
}


.item-nav {
  text-decoration: none;
  color: white;
  font-weight: bold;
  margin-right: 10px;
}

.droopbox {
  display: none;
}

.container {
  width: 100vw;
  background-color: #339eb1;
}

.my-name {
  font-size: 3.5em;
  font-weight: 600;
  text-align: center;
  margin: 10px 0 0 10px;
  overflow: hidden;
  animation: show-name 1s;
  animation-fill-mode: backwards;
}

.name-project {
  margin-bottom: 20px;
  font-size: 2em;
  font-weight: bold;
}

.title-project {
  text-align: center;
  font-size: 2em;
  margin-bottom: 60px;
  z-index: 0;
  transform: translateX(-35%);
  opacity: 0;
  transition: 0.3s;
}
.animate-title {
  transform: translateX(0%);
  opacity: 1
}

.my-name:nth-child(2){
  animation: show-name 2s;
}

.card-project {
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: space-evenly ;
  align-items: center;
}

.bragi {
  background: rgb(210,248,237);
  background: linear-gradient(90deg, rgba(210,248,237,1) 0%, rgba(210,248,237,1) 55%, rgba(98,248,251,1) 100%);
  box-shadow: 10px 0px 10px rgb(210, 248, 237, 1);
}


.urna {
  background: linear-gradient(90deg, rgb(204 204 204) 0%, rgb(153 154 155) 46%, rgba(108,109,112,1) 100%);
  box-shadow: 10px 0px 10px rgb(210, 248, 237, 1);
}

.cavi {
  background: rgb(211,196,251);
  background: linear-gradient(90deg, rgba(211,196,251,1) 0%, rgba(184,157,255,1) 46%, rgba(149,120,225,1) 100%);
  box-shadow: 10px 0px 10px rgb(210, 248, 237, 1);
}
.mr-duque {
  color: wheat;
  background: rgb(148,148,148);
  background: linear-gradient(90deg, rgba(148,148,148,1) 0%, rgba(55,55,55,1) 38%, rgba(0,0,0,1) 100%);
  box-shadow: 10px 0px 10px rgb(210, 248, 237, 1);
}
.cleo-manicure {
  background-color: white;
  color: #ed6db0;
}

.wbs-calculator {
  color: white;
  background: rgb(37,100,207);
  background: linear-gradient(90deg, rgba(37,100,207,1) 0%, rgba(28,71,144,1) 41%, rgba(15,44,93,1) 100%);
}

.img-project {
  width: 256px;
  margin-right: 20px;
}


.text-project {
  font-size: 1.3em;
  font-weight: 400;
  margin: 0px 20px;
  max-width: 700px;
  text-align: justify;
}

.animate {
  opacity: 1;
}

.my-stack {
  width: 100vw;
  padding: 30px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  background-color: #0e0e0f;
}
.content-stack {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 300px;
}
.img-stack {
  width: 86px;
}
.vue, .graphql, .mongo, .git, .html {
  width: 55px;
}
.type, .css {
  width: 40px;
  margin-left: 10px;
}
.git {
  margin-left: 10px;  
}

.level-in-stack {
  width: 100vw;
  font-size: 1.2em;
  font-weight: bold;
  color: white;
  background-color: #0e0e0f;
  font-weight: bold;
  padding: 30px;
}

.info-line {
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
  max-width: 540px;
}


.line {
  width: 100%;
  border: 2px solid;
}
.red {
  border-color: #fd2020;
}
.yellow {
  border-color: #fdee20;
}
.green {
  border-color: #96fd20;
}

.container-level-stack {
  margin: 0 auto;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content-level-stack {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.name-stack {
  display: flex;
  align-items: center;
}

.level-m {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fdee20;
  width: 40px;
  height: 40px;
  border: 2px solid #fdee20;
  border-radius: 50%;
} 
.level-g {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #96fd20;
  width: 40px;
  height: 40px;
  border: 2px solid #96fd20;
  border-radius: 50%;
}
.level-p {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fd2020;
  width: 40px;
  height: 40px;
  border: 2px solid #fd2020;
  border-radius: 50%;
}

@keyframes show-center {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes show-name {
  from {
    opacity: 0;
    transform: translateX(-35%);
  }
  to {
    opacity: 1;
    transform: translateX(0%);
  }
}


@keyframes show-about {
  from {
    opacity: 0;
    transform: translatey(-35%);
  }
  to {
    opacity: 1;
    transform: translatey(0%);
  }
}


@media (max-width: 570px) {  
  .card-project {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}