.home {
  gap: 20px;
  height: 1100%;
  display: grid;
  color: white;
  align-items: center;
  justify-items: center;
  background-color: black;
  grid-template-areas: 'picture'
                       'name'
                       'button';
  grid-auto-rows: min-content;
}

.about-me {
  padding-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home .buttons-home {
  margin-top: 50px;
  grid-area: button;
  display: flex;
  gap: 20px;
}

.home .buttons-home .button {
  text-decoration: none;
  font-weight: bold;
}

.home .buttons-home .button.linkedin {
  color: white;
  background-color: #0a66c2;
}

.home .buttons-home .button.github {
  color: #000;
  background-color: #fff;
}

.home .name span {
  display: block;
  line-height: 2;
  font-size: 2.2rem;
  color: #fff;
  font-weight: 500;
}

.home .name {
  grid-area: name;
  font-weight: 600;
  overflow: hidden;
  margin: 10px 0 0 10px;
  animation: show-name 2s;
  animation-fill-mode: backwards;
  font-size: var(--font-size-name);
}

.home .images-home {
  position: relative;
  grid-area: picture;
}

.home .images-home .profile img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.home .images-home .profile {
  width: 194px;
  height: 286px;
  overflow: hidden;
  position: relative;
  background-color: var(--primary-color);
  border-radius: 92% 88% 67% 70% / 58% 61% 42% 49%;
  box-shadow: 0px 0px 75px -30px rgba(255,255,255,1);
  -moz-box-shadow: 0px 0px 75px -30px rgba(255,255,255,1);
  -webkit-box-shadow: 0px 0px 75px -30px rgba(255,255,255,1);
  animation: desenhoAnimacao 2.1s infinite alternate-reverse linear;
}

.home .images-home .wings {
  position: absolute;
  animation: desenhoAnimacao 2.1s infinite alternate-reverse linear;
}

@keyframes desenhoAnimacao {
  from {
      top:-10px;
  }
  to {
      top: 20px;
  }
}

.home .images-home .wings img {
  top: 107px;
  left: -37px;
  width: 270px;
  position: absolute;
}

.text-about-me {
  padding-bottom: 10px;
  max-width: 1000px;
  margin: auto;
  text-align: center;
  font-style: italic;
  color: white;
  position: relative;
}

.text-about-me::after {
  position: absolute;
  content: '';
  width: 50%;
  height: 1px;
  background-color: #fff;
  bottom: 0;
  left: 0;
}

.text-about-me h1 {
  font-size: 3rem;
}

.text-about-me p {
  font-size: 2rem;
}