.base-dialog[open]::backdrop {
  background: #000000c7;
}

.base-dialog[open],
.base-dialog::backdrop {
  animation: show 500ms ease;
}

.base-dialog[open] {
  display: grid;
  grid-template-areas: 'image'
                       'description'
                       'button';
  gap: 20px;
  top: 20vh;
  width: 100%;
  max-width: 1000px;
  right: 30px;
  padding: 20px;
  border-radius: 8px;
  background-color: #000;
  border: 1px solid var(--primary-color);
  align-items: center;
  justify-items: center;
}

@media (min-width: 764px) {
  .base-dialog[open] {
    margin: 0 auto;
    grid-template-areas: 'image description'
                         'button button';
    grid-template-columns: 228px 1fr;
    justify-items: stretch;
  }
}

.base-dialog[open] .image {
  grid-area: image;
  width: 100%;
  max-width: 228px;
  height: 140px;
}

.base-dialog[open] .image img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

.base-dialog[open] .content-dialog {
  grid-area: description;
  color: #fff;
  text-align: justify;
}

.base-dialog[open] button {
  background-color: #cc0000;
  color: white;
  border: 2px solid #cc0000;
  padding: 8px 20px;
  grid-area: button;
  transition-duration: 500ms;
  border-radius: 10px;
  font-weight: bold;
  font-size: 1.8rem;
}

@keyframes show {
  0% {
    opacity: 0;
  }
}