* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  /* Definindo cores */
  --primary-color: #007bff;
  --secondary-color: #6c757d;
  --background-color: #000;

  --javascript-color: #ecb725;
  --ruby-on-rails-color: #cc0000;
  --git-color: #f05033;
  --vue-color: #41b883;
  --node-color: #3f893b;
  --mysql-color: #005376;

  /* Definindo tamanhos */
  --spacing-large: 2rem;
  --spacing-medium: 1rem;
  --spacing-small: 0.5rem;

  /* Definindo tamanhos de fonte */
  --font-size-small: 1.4rem;
  --font-size-medium: 1.6rem;
  --font-size-large: 1.8rem;

  --font-size-name: 3rem;
}

body {
  padding-top: 70px;
  overflow-x: hidden;
  color: var(--secondary-color);
  font-family: 'Rubik', sans-serif;
  font-size: var(--font-size-medium);
  background-color: var(--background-color);
}

h1 {
  color: var(--primary-color);
  font-size: var(--font-size-large);
  margin-bottom: var(--spacing-large);
  position: relative;
}

h1::before {
  position: absolute;
  content: '';
  bottom: 0;
  left: 0;
  width: 40px;
  height: 1px;
  background-color: var(--primary-color);
}

p {
  line-height: 1.6;
  font-size: var(--font-size-small);
  margin-bottom: var(--spacing-medium);
}

.button {
  border: none;
  color: #fff;
  cursor: pointer;
  border-radius: 4px;
  font-size: var(--font-size-medium);
  background-color: var(--primary-color);
  padding: var(--spacing-small) var(--spacing-medium);
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

/* section */

.main-container {
  width: 100%;
  margin: 0 auto;
  background-color: var(--primary-color);
}

.base-section {
  width: 100%;
  height: 100vh;
  padding: 10px;
  background-color: #000;
}

/* Sobre mim */

@keyframes show-name {
  from {
    opacity: 0;
    transform: translateX(-35%);
  }
  to {
    opacity: 1;
    transform: translateX(0%);
  }
}

footer {
  margin-top: 60px;
  background-color: var(--primary-color);
  color: #fff;
  padding: 20px;
  border-top: 1px solid white;
}

.contact-info {
  max-width: 600px;
  margin: 0 auto;
}

.contact-info h3 {
  margin-bottom: 10px;
}

.contact-info p {
  margin: 5px 0;
  display: flex;
  gap: 5px;
  align-items: center;
}
.contact-info img {
  width: 15px;
}
