header {
  color: var(--white-color);
  display: flex;
  align-items: center;
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

header .menu-icon {
  top: 20px;
  left: 20px;
  border: none;
  padding: 10px;
  cursor: pointer;
  position: absolute;
  border-radius: 8px;
  background-color: var(--primary-color);
}

.menu-icon .bar {
  width: 25px;
  height: 3px;
  background-color: var(--white-color);
  margin: 5px 0;
  transition: 500ms;
}

.navigation ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navigation li {
  margin-left: 20px;
}

.navigation a {
  text-decoration: none;
  color: var(--white-color);
  font-size: 1.6rem;
  padding: 5px 10px;
}

.content {
  padding: 20px;
}

.navigation {
  transform: translateY(-102vh);
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  transition: 500ms;
}

.navigation li {
  margin-left: 0;
  margin-bottom: 10px;
}

.navigation-icon {
  display: block;
}

.navigation.active {
  /* display: block; */
  transition: 500ms;
  transform: translateY(0px);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: var(--primary-color);
  color: var(--white-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

header .menu-icon.active {
  z-index: 3;
}

.menu-icon.active .bar:nth-child(1) {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.menu-icon.active .bar:nth-child(2) {
  opacity: 0;
}

.menu-icon.active .bar:nth-child(3) {
  transform: rotate(45deg) translate(-5px, -6px);
}

.navigation.active ul {
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.navigation.active a {
  font-size: 2.6rem;
  font-weight: bold;
}

@media (min-width: 990px) {
  .navigation {
    transform: translateY(0);
    width: 100%;
    height: 70px;
    top: 0;
    padding: 0 20px;
    background-color: var(--primary-color);
    box-shadow: 1px 1px 20px 0px var(--primary-color);
  }

  .navigation ul {
    height: 100%;
    align-items: center;
  }

  .navigation li {
    margin: 0;
  }

  .navigation a {
    font-weight: bold;
  }

  .menu-icon {
    display: none;
  }
}
