.projects {
  height: 100%;
}

.container-projects {
  width: 100%;
  margin: auto;
  max-width: 1000px;
  padding-top: 150px;
}


.container-projects ul {
  display: flex;
  padding-bottom: 20px;
  flex-wrap: wrap;
  gap: 20px;
}

.container-projects ul::-webkit-scrollbar {
  width: 8px;
}

.container-projects ul::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
.container-projects ul::-webkit-scrollbar-thumb {
  background: var(--mysql-color);
  border-radius: 10px;
}

/* Handle on hover */
.container-projects ul::-webkit-scrollbar-thumb:hover {
  background: var(--primary-color);
}

.container-projects ul li {
  list-style: none;
  position: relative;
}

.container-projects ul li > div {
  padding: 10px;
  display: flex;
  border-radius: 8px;
  width: 240px;
  height: 100%;
  background-color: #000;
  border: 1px solid var(--primary-color);
}

.container-projects h1  {
  font-size: 3rem;
}

.card-project {
  margin-bottom: 10px;
  align-items: stretch;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.card-project .project-image {
  width: 100%;
  height: 140px;
}

.card-project .project-image img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

.card-project .project-name {
  margin-bottom: 20px;
  font-size: 2em;
  font-weight: bold;
  color: #fff;
}

.card-project .project-description .description{
  display: none;
}

.card-project .project-description span {
  cursor: pointer;
}

.card-project .project-description .description.hidden {
  display: none;
}

.project-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.project-buttons .button {
  display: block;
  font-weight: bold;
  width: 100%;
  padding: 10px 20px;
  text-decoration: none;
  text-align: center;
}

.project-buttons .github {
  color: #000;
  background-color: #fff;
}

.project-buttons .see {
  color: #fff;
  background-color: var(--primary-color);
}
