.stack-level {
  height: 100%;
  color: white;
  font-weight: bold;
  font-weight: bold;
  padding: 50px 10px;
  font-size: var(--font-size-small);
}

.container-stack-level {
  width: 100%;
  max-width: 640px;
  margin: auto;
}

.container-stack-level .list-stack-level {
  display: flex;
  margin: 0 auto;
  gap: 20px;
  flex-wrap: wrap;
  max-width: 600px;
  justify-content: center;
}

.list-stack-level .item-stack-level {
  display: flex;
  margin-bottom: 10px;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding: 10px;
  border: 1px solid #fff;
  border-radius: 8px;
}

.content-image-stack {
  width: 70px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.other-image-stack {
  padding: 0px 16px;
}

.content-image-stack img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.average-score {
  width: 40px;
  height: 40px;
  display: flex;
  color: #fdee20;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  border: 2px solid #fdee20;
}

.great-score {
  width: 40px;
  height: 40px;
  display: flex;
  color: #96fd20;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  border: 2px solid #96fd20;
}

.bad-score {
  width: 40px;
  height: 40px;
  display: flex;
  color: #fd2020;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  border: 2px solid #fd2020;
}

.container-stack-level h1  {
  font-size: 3rem;
}

/* .level-information-line {
  display: flex;
  max-width: 540px;
  margin: 20px auto;
  text-align: center;
  justify-content: space-between;
}

.level-information-line div {
  width: 100%;
}

.level-information-line div .line {
  width: 100%;
  display: block;
  border: 2px solid;
}

.level-information-line div .red {
  border-color: #fd2020;
}

.level-information-line div .yellow {
  border-color: #fdee20;
}

.level-information-line div .green {
  border-color: #96fd20;
} */